﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" CodeFile="about-us.aspx.vb" Inherits="about_us" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <link href="Advance_CSS/css/bootstrap.css" rel="stylesheet" />
    <link href="Advance_CSS/css/styles.css" rel="stylesheet" />
    
     <div class="theme-hero-area theme-hero-area-half">
        <div class="theme-hero-area-bg-wrap">
        
            <div class="theme-hero-area-bg" style="background-image: url(Advance_CSS/Images/about.jpg);"></div>
            <%--<div class="theme-hero-area-mask theme-hero-area-mask-half"></div>--%>
            <div class="theme-hero-area-inner-shadow"></div>
        </div>
        <div class="theme-hero-area-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 theme-page-header-abs">
                        <div class="theme-page-header theme-page-header-lg">
                            <h1 class="theme-page-header-title">Discover RiyaTrip</h1>
                            <p class="theme-page-header-subtitle">The Story of Our Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-page-section theme-page-section-xl theme-page-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="theme-about-us">
                        <div class="theme-about-us-section sticky-parent">
                            <div class="row row-col-static row-col-reverse">
                                <div class="col-md-4">
                                    <div class="sticky-cols">
                                        <h4 class="theme-about-us-section-title">What We Do</h4>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="theme-about-us-section-body">



                                        <p>RiyaTrip is the leading B2B portal for integrated travel and travel related services in the country.RiyaTrip offers the travel agents a wide spectrum of solutions that include Ticket Bookings, Hotel Bookings, Transfers and Sightseeing. Our principal motto is to provide nonpareil rates and quality Services to the agents all over India. </p>
                                        <p>RiyaTrip is a specialist in providing fixed departure flights tickets for all major sectors from India.</p>
                                        <div class="theme-about-us-section-gallery">
                                            <div class="row" data-gutter="10">
                                                <div class="col-xs-12">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/adult-book-business-cactus-297755_555x200.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/plate-flight-sky-sunset_280x205.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/woman-wearing-bikini-jumping-to-the-beach-191741_280x205.jpg);"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-about-us-section sticky-parent">
                            <div class="row row-col-static row-col-reverse">
                                <div class="col-md-4">
                                    <div class="sticky-cols">
                                        <h4 class="theme-about-us-section-title">Our History</h4>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="theme-about-us-section-body">
                                        <p>RiyaTrip.com is a new-fangled traveling portal managed by a team of immensely experienced people in the B2B Market. www.hotelexpertz.com is one of our leading extravagant Hotel Search Engine Portal successfully in operation since Last 3 years in India?s Domestic/International travel industry.</p>
                                        <p>Already a renowned brand in travel industry, Kehar Travel Services Pvt. Ltd. an IATA certified company which is another subsidiary ofFaremonster.com. CollectivelyFaremonster.com has become travellers delight with out-of-the-box featured services for all travel needs.</p>
                                        <div class="theme-about-us-section-gallery">
                                            <div class="row" data-gutter="10">
                                                <div class="col-xs-8">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/adult-amsterdam-chairs-comfortable-509819_370x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/colleagues-cooperation-fist-bump-fists-398532_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/adult-adventure-ancient-architecture-346826_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/man-in-black-jacket-holding-a-black-hardtail-bike-near-black-and-white-art-wall-173301_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/directly-above-shot-of-keyboard-on-table-317383_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(Advance_CSS/Images/accommodation-adult-amsterdam-billiards-509780_555x200.jpg);"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-about-us-section sticky-parent">
                            <div class="row row-col-static row-col-reverse">
                                <div class="col-md-4">
                                    <div class="sticky-cols">
                                        <h4 class="theme-about-us-section-title">Our Services</h4>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="theme-about-us-section-body">
                                       
                                        <div class="theme-about-us-section-gallery">
                                            <div class="row" data-gutter="10">
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/adult-business-choices-choosing-515169_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/adult-chill-computer-connection-450271_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/ideas-whiteboard-person-working-7369_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/adult-business-coffee-computer-265036_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/man-couch-working-laptop-7066_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img banner-">
                                                        <div class="banner-bg" style="background-image: url(img/man-wearing-blue-denim-buttons-up-long-sleeve-and-blace-frame-eyelgasses_180x165.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(img/bonding-cold-cozy-dog-374845_370x205.jpg);"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="banner theme-about-us-section-gallery-img theme-about-us-section-gallery-img-lg banner-">
                                                        <div class="banner-bg" style="background-image: url(img/portrait-of-young-woman-drinking-coffee-at-home-324030_180x205.jpg);"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</asp:Content>

