﻿<%@ Master Language="VB" CodeFile="MasterForHome.master.vb" Inherits="MasterForHome" %>

<%@ Register Src="~/UserControl/IssueTrack.ascx" TagName="Issue" TagPrefix="ucissue" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>RiyaTrip</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="../Advance_CSS/fav.png" />
  <%--  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />--%>
    <link rel="stylesheet" href="Advance_CSS/css/font-awesome.css" />
    <link rel="stylesheet" href="Advance_CSS/css/lineicons.css" />
    <link rel="stylesheet" href="Advance_CSS/css/weather-icons.css" />
    <link rel="stylesheet" href="Advance_CSS/css/bootstrap.css" />
    <link rel="stylesheet" href="Advance_CSS/css/styles.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%--<link rel="icon" href="Advance_CSS/Icons/ftb.png" type="image/gif" />--%>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">



    <link href="Advance_CSS/Sidebar.css" rel="stylesheet" />
    <style type="text/css">
        /*     .w3-bar a.w3-bar-item {
            font-size: 14px;
            width: 13%;
            margin-right: 6px;
            padding: 5px 9px;
            white-space: normal;
            color: #fff;
            border: 1px solid #dedede;
            border-radius: 5px;
            text-align: center;
        }*/


        .menu-container {
            visibility: hidden;
            opacity: 0;
        }

            .menu-container.active {
                visibility: visible;
                opacity: 1;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

        .user-menu {
            position: absolute;
            right: -22px;
            background-color: #FFFFFF;
            width: 256px;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 20px;
        }

            .user-menu .profile-highlight {
                display: -webkit-box;
                display: flex;
                border-bottom: 1px solid #E0E0E0;
                padding: 12px 16px;
                margin-bottom: 6px;
            }

                .user-menu .profile-highlight img {
                    width: 48px;
                    height: 48px;
                    border-radius: 25px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

                .user-menu .profile-highlight .details {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    margin: auto 12px;
                }

                    .user-menu .profile-highlight .details #profile-name {
                        font-weight: 600;
                        font-size: 16px;
                    }

                    .user-menu .profile-highlight .details #profile-footer {
                        font-weight: 300;
                        font-size: 14px;
                        margin-top: 4px;
                    }

            .user-menu .footer {
                border-top: 1px solid #E0E0E0;
                padding-top: 6px;
                margin-top: 6px;
            }

                .user-menu .footer .user-menu-link {
                    font-size: 13px;
                }

            .user-menu .user-menu-link {
                display: -webkit-box;
                display: flex;
                text-decoration: none;
                color: #333333;
                font-weight: 400;
                font-size: 14px;
                padding: 12px 16px;
            }

                .user-menu .user-menu-link div {
                    margin: auto 10px;
                }

                .user-menu .user-menu-link:hover {
                    background-color: #F5F5F5;
                    color: #333333;
                }

            .user-menu:before {
                position: absolute;
                top: -16px;
                left: 120px;
                display: inline-block;
                content: "";
                border: 8px solid transparent;
                border-bottom-color: #E0E0E0;
            }

            .user-menu:after {
                position: absolute;
                top: -14px;
                left: 121px;
                display: inline-block;
                content: "";
                border: 7px solid transparent;
                border-bottom-color: #FFFFFF;
            }
    </style>


    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Fjalla+One);
        @import url(http://fonts.googleapis.com/css?family=Gudea);

        .footer1 {
            background: #06384e url("../images/footer/footer-bg.png") repeat scroll left top;
            padding-top: 40px;
            padding-right: 0;
            padding-bottom: 20px;
            padding-left: 0; /*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
        }



        .title-widget {
            color: #a9a9a9;
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            position: relative;
            text-transform: uppercase;
            font-family: 'Fjalla One', sans-serif;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 25px;
            margin-left: 0;
            padding-left: 28px;
        }

            .title-widget::before {
                background-color: #0b5b7d;
                content: "";
                height: 80px;
                left: 0px;
                position: absolute;
                top: -26px;
                width: 2px;
            }



        .widget_nav_menu ul {
            list-style: outside none none;
            padding-left: 0;
        }

        .widget_archive ul li {
            background-color: rgba(0, 0, 0, 0.3);
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 3px;
        }


        .widget_nav_menu ul li {
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            position: relative;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 7px;
            padding-bottom: 7px;
            width: 95%;
        }



        .title-median {
            color: #636363;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 15px;
            text-transform: uppercase;
            font-family: 'Fjalla One', sans-serif;
        }

        .footerp p {
            font-family: 'Gudea', sans-serif;
        }


        #social:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        #social {
            -webkit-transform: scale(0.8);
            /* Browser Variations: */
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
        /* 
    Only Needed in Multi-Coloured Variation 
                                               */
        .social-fb:hover {
            color: #3B5998;
        }

        .social-tw:hover {
            color: #4099FF;
        }

        .social-gp:hover {
            color: #d34836;
        }

        .social-em:hover {
            color: #f39c12;
        }

        .nomargin {
            margin: 0px;
            padding: 0px;
        }





        .footer-bottom {
            background-color: #15224f;
            min-height: 30px;
            width: 100%;
        }

        .copyright {
            color: #fff;
            line-height: 30px;
            min-height: 30px;
            padding: 7px 0;
        }

        .design {
            color: #fff;
            line-height: 30px;
            min-height: 30px;
            padding: 7px 0;
            text-align: right;
        }

            .design a {
                color: #fff;
            }


        /************************************************************
*************************Footer******************************
*************************************************************/
    </style>



    <style>
        ::-webkit-scrollbar {
            width: 5px;
            height: 7px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #525965;
            border: 0px none #ffffff;
            border-radius: 0px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #525965;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #525965;
            }

        ::-webkit-scrollbar-track {
            background: transparent;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-track:hover {
                background: transparent;
            }

            ::-webkit-scrollbar-track:active {
                background: transparent;
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>





    <%--   <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/font-awesome.min.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/style.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/bootstrap.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/mob.css")%>" />
    <link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/animate.css")%>" />--%>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var userid = '<%=Session("UID")%>'
            var usertype = '<%=Session("User_Type")%>'
            var UrlBase = '<%=ResolveUrl("~/")%>';
            //var ApplUrl = 'http://b2b.//.com/';  
            //getNotification(userid, usertype);
            //getNotificationTimer(userid, usertype);
        });
    </script>



    <%-- notification end --%>
</head>
<body>

    <a id="button"><i aria-hidden="true">
        <img src="Icons/flight.png" alt="" style="width: 30px; margin-top: 8px;" /></i>

    </a>

    <input type='hidden' id='widget_agent_id' value='<%=Session("UID")%>' />
    <div id="DivLoadPBal" style="display: none; left: 0; top: 0; position: fixed; width: 100%; height: 100%; z-index: 9998; background-image: url(Images/fade.png);">
        <div style="z-index: 9999; width: 30%; height: 20%; margin-right: auto; top: 150px; position: fixed; background: #fff; margin-left: 35%; padding-top: 10px; text-align: center;">
            <div>
                <b style="vertical-align: bottom; font-size: 18px;">Loading please wait...</b>
            </div>
            <div style="clear: both;"></div>
            <div style="padding-top: 10px;">
                <img alt="loading please wait" src="<%=ResolveUrl("~/Images/loadingAnim.gif")%>" style="width: 90px; height: 90px; position: absolute; margin-left: 40%; margin-right: auto; vertical-align: top;" />
            </div>
        </div>
    </div>
    <% Dim objMs As New FltSearch1()%>
    <% Dim umMs As String%>
    <% Dim rawurlMs As String%>

    <form id="form1" runat="server">

        <div class="row" style="display: none;">
            <div class="head-text topblc ">
                <div class="container">
                    <div class="col-md-8">
                        CUSTOMER SUPPORT - + 91-11-47 677 777
                    </div>
                    <div class="col-md-4 text-right">
                        <div style="font-size: 12px;">
                            Last Login: <span><%=Session("LastloginTime")%></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-wrapper chiller-theme">

            <nav id="sidebar" class="sidebar-wrapper" style="z-index: 1011;">
            <div class="sidebar-content" style="">
                <div class="sidebar-brand">
                    <!--<a href="#">Faretripbox</a>-->
                   <%-- <a class="navbar-brand" href="/Faretripbox/Home.aspx" style="margin-top: -10px;">
                        <img src="/Faretripbox/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title">
                    </a>--%>

                    <div id="close-sidebar" style="margin-top: 10px; position: absolute;right: 12px;">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info"> 
                        <span class="user-name"><%=AgencyName%>
           
                           <%-- <strong>Kunal</strong>--%>
                        </span>
                        <span class="user-role">(<%=AgencyId%>)</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <%--<span>Online</span>--%>
                        </span>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        
                        <li>
                            <a href="../Report/TicketReport.aspx">
                               <%-- <i class="icofont-home"></i>--%>
                                <div class="mn_icncol">
                                    
    <div class="menuicnCol"> <i class="icofont-ticket1"></i></div>
    <div class="pull-l"> <span class="mColtxt">My Booking</span>
      <p class="mColsbtxt">View and manage your bookings</p>
    </div>
  </div>
                            </a>
                            
                        </li>
                        <li>
                            <a href="../Report/Accounts/Ledger.aspx">
                                                   <div class="mn_icncol">
                                    
    <div class="menuicnCol"> <i class="icofont-ticket1"></i></div>
    <div class="pull-l"> <span class="mColtxt">Ledger</span>
      <p class="mColsbtxt">View and manage your debits and credits</p>
    </div>
  </div>
                            </a>
                            
                        </li>


                        <li>
                            <a href="../Report/Accounts/UploadAmount.aspx">
                               <div class="mn_icncol">
    <div class="menuicnCol"><i class="wal_icn_v3"></i></div>
    <div class="pull-l"> <span class="mColtxt">Wallet Top-Up</span>
      <p class="mColsbtxt">Top-Up your wallet for hassle-free bookings</p>
    </div>
  </div>
                            </a>

                        </li>
                     


                  

                        <li class="header-menu">
                            <span>Our Product</span>
                        </li>



                         <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span>Flight</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Hotel</span>
                            </a>
                        </li>
                        <li>
                            <a href="Dashboard.aspx">
                                <i class="fa fa-calendar"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->

        </nav>

        </div>


        <header style="display: none;">

             <%-- notification start --%>
            <div id="Marqueediv" style="margin-top:16px;">              
            </div>
             <div id="divResults">            
            </div>
             <%-- notification start --%>

            <div class="flyclubhead">
                 <div style="margin-right: 10px;" class="rgt">
                    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
                    </asp:ScriptManager>
                </div>                 
                <div class="navbar navbar-default" role="navigation">
                    <div class="">
                        <div class="container-fluid">
                            <div class="row" style="padding: 0px 0 3px 0;">
                                <div class="col-md-3 col-xs-6 logo">
                                    <a href="<%= ResolveUrl("Search.ASPX") %>">
                                          <img src="<%= ResolveUrl("images/logo.png") %>" alt="Header image" border="0" /></a>
                                </div>
                                 
                                <div class="col-md-3 col-xs-6  ">
                                    <div class="icon">
                                  <div class="hidden-xs">
                                     <div class="lft plft20  pull-right"> <a href="<%= ResolveUrl("IBEHome.ASPX") %>">
                                          <img src="<%= ResolveUrl("images/icon3.png") %>" alt="Bus" border="0" /></a></div>

                                     <div class="lft plft20  pull-right"> <a href="<%= ResolveUrl("IBEHome.ASPX") %>">
                                          <img src="<%= ResolveUrl("images/icon2.png") %>" alt="Hotel" border="0" /></a></div>


                                    

                                     <div class="lft plft20  pull-right"> <a href="<%= ResolveUrl("IBEHome.ASPX") %>">
                                          <img src="<%= ResolveUrl("images/icon1.png") %>" alt="Flight" border="0" /></a></div>
</div>
                                        </div>
                                   
                                    
                                </div>
                                 <div class="col-md-1 wlctt hidden-xs" >
                                     <div class="lft f13">
                                        <% If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                            <div id="crdrow" runat="server" style="min-height: 40px;">
                           
                                        <div>
                               <%-- <img src="<%=ResolveUrl("~/Images/loading_bar.gif")%>" alt="Loading..." id="imgLoadLoginVals" />--%>
                                <asp:Label ID="lblCamt" runat="server" Style="display: none;"></asp:Label>
                            </div>
                        </div>

                        <% End If%>
                        <div id="tr_AgencyID" runat="server" class="rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld">
                                Agency ID
                            </div>
                            <div id="td_AgencyID" runat="server">
                            </div>
                        </div>
                        <div class="textalignright rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld ">
                                Welcome
                            </div>
                            <div class="text-danger">
                                <asp:Label ID="lblagency" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>
                  </div>
                               
                                <div class="col-md-4 col-xs-12 testmb " style="margin-top: 8px;">
                                    <div class="menuhide" style="display:none;">
                               
                                        </div>
                                    <div class="collapse navbar-collapse">
                                        <div class="menuhide" style="text-align:right; font-weight:600; " >
                                          
                                            AgencyName: <%=AgencyName%> ( <%=AgencyId%>)<br />
                                <asp:Label ID="Label12" runat="server" Style="display: none;"></asp:Label>
                                                </div>
                                        <ul class="nav navbar-nav align-set">
                                           
                                             <li class="menuhide" style="display:none"><div  class="pd1" runat="server" id="divAgentBalance11"> Available Balance: <span id="blc1"></span> Credit Limit:  <span id="CrdLimit11"></span> Due: <span id="DueAmt11"></span></div></li>
                                                
                                            <li> <div id="page-content-wrapper">
                                            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                                            <span class="hamb-top"></span>
    			                            <span class="hamb-middle"></span>
				                            <span class="hamb-bottom"></span>
                                            </button>            
                                             </div> </li>
                                            
                                        </ul>
                                 
                                        
                                         
                                    </div>
                              <%If Session("TypeID").ToString().Trim().ToUpper().Equals("ECR") Then%>
                               <div class="settings colorwhite hide" id="setng1">
                                      <div>
                                            <a href="<%= ResolveUrl("~/SprReports/TicketReport.aspx")%>">Flight</a>
                                        </div>
                                    <div>                                           
                                            <a href="<%= ResolveUrl("~/SprReports/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                        </div>

                                    <div style="border: none;" class="f13">
                                            <%--<asp:LinkButton ID="LinkButton1" runat="server" Text="Log Out" Font-Italic="False"
                                                Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton>--%>
                                        </div>
                               </div>

                             <%Else%>

                                    <div class="settings colorwhite hide" id="setng1">
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Accounts/Ledger.aspx") %>">Ledger</a>
                                        </div>
                                        <div>

                                            <a href="<%= ResolveUrl("~/SprReports/TicketReport.aspx")%>">Flight</a>
                                        </div>
                                         <div>

                                            <a href="<%= ResolveUrl("~/SprReports/Hotel/HtlBookingRpt.aspx")%>">Hotel</a>
                                        </div>

                                        <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/agent/AgentTypeDetails.aspx")%>">Group Type</a>
                                        </div>

                                         <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Admin/DomAirlineMarkup.aspx")%>">Flight Setting</a>
                                        </div>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Admin/AdminHtlMarkup.aspx")%>">Hotel Setting</a>
                                        </div>
                                        <%ElseIf Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Agent/Agent_markup.aspx")%>">Flight Setting</a>
                                        </div>
                                          <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Agent/AgentHtlMarkup.aspx")%>">Hotel Setting</a>
                                        </div>
                                        <%End If%>


                                        <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Admin/Agent_Details.aspx")%>">Agent Profiles</a>
                                        </div>
                                        <%End If%>


                                        <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Admin/ExecutiveDetails.aspx")%>">Register Executive</a>
                                        </div>
                                        <%End If%>


                                      
                                        <div>
                                            <%--<% umMs = ""%>
                                            <% umMs = objMs.GetMUForPage("SprReports/Accounts/DomSaleRegister.aspx")%>
                                            <% rawurlMs = ""%>
                                            <%rawurlMs = Request.RawUrl%>
                                            <%rawurlMs = "/" & rawurlMs.Replace(rawurlMs, umMs)%>
                                            <a href="<%= rawurlMs %>">Accounts</a>--%>
                                            <a href="<%= ResolveUrl("~/SprReports/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                        </div>

                                        <div id="hypdeal" runat="server" style='display: none'>
                                            <!-- <a href="<%= ResolveUrl("~/SprReports/Agent/DealSheetDomIntl.aspx") %>" target="_blank">
                                    Deal Sheet</a>-->
                                        </div>
 
                                         <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                        <div>
                                             <a href="<%= ResolveUrl("~/SprReports/Accounts/ChangePassword.aspx")%>">Change Password</a>
                                        </div>
                                        <%End If%>

                                        <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                        <div>
                                            <a href="<%= ResolveUrl("~/SprReports/Agent/Agent_Profile.aspx")%>">Profile</a>

                                               
                                        </div>
                                        <%End If%>

                                        <div style="border: none;" class="f13">
                                           
                                        </div>
                                    </div>

                             <%End If%>

                                </div>
                        <div id="menutbl" style="display:none;">
                        <table style="width: 50%; margin: 0 auto; display:none;">
                            <tr>
                                <td>
                                    <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" CssClass="NavigationMenu"
                                        DynamicPopOutImageUrl="Images/right-arrow.gif" StaticPopOutImageUrl="Images/drop-arrow.gif">
                                        <StaticMenuItemStyle CssClass="staticMenuItemStyle" />
                                        <DynamicMenuItemStyle CssClass="dynamicMenuItemStyle" />
                                        <DataBindings>
                                            <asp:MenuItemBinding DataMember="MenuItem" NavigateUrlField="NavigateUrl" TextField="MenuText" />
                                        </DataBindings>
                                    </asp:Menu>
                                </td>
                            </tr>

                        </table>
                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     
            
        </header>


        <%--<div id="preloader">
        <div id="status">&nbsp;</div>
    </div>--%>


        <section style="display: none;">


            <div class="ed-top" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#" style="color:#fff;margin-left: -79px;">Call Us : +91 79 4910 9999</a>
                                </li>
                                <%--<li><a href="#">Phone: +101-1231-1231</a>
                                </li>--%>
                                <li>
                                    <%--<i class="fa fa-circle" aria-hidden="true" style="color:orange;margin-top: 7px;"></i>--%>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>

                               <%-- <li>
                                    <div  class="pd" runat="server" id="divAgentBalance" style="font-size: 12.5px !important;color:#fff;margin-top: 3px;margin-right: 20px;"> <i><img src="Images/icons/wallet.png" style="width: 18px;"/></i>   Balance: <span id="blc" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="Images/icons/Credit.png" style="width: 21px;"/></i>   Credit Limit:  <span id="CrdLimit" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="Images/icons/Due.png" style="width: 25px;"/></i>   Due: <span id="DueAmt" style="font-size: 11.5px !important;"></span></div>
                                </li>
                                &nbsp;
                                <li>
                                    <asp:LinkButton ID="LinkButton1" runat="server" Text="Log Out" Font-Italic="False"
                                                Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False" style="background:#ef3535;"></asp:LinkButton>
                                </li>--%>
                                
                            </ul>
                        </div>
                        <div class="ed-com-t1-social" style="display:none">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250" style="background: #f1f1f1;border-bottom: 1px solid #ddd;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="Search.aspx"><img src="<%=ResolveUrl("Custom_Design/images/logo_new.png")%>" alt="SinghTravels" style="margin-left: -25px;"/>
                            </a>
                        </div>
                        <div class="main-menu">
                            <%--<ul style="border-left:1px solid #ddd">--%>


                                 <ul>

                                     <li>
                                               <div class="collapse navbar-collapse">
                                        <div class="menuhide" style="text-align:right;font-size: small;color:#737373;margin-top: 23px; " >
                                          
               <i class="fa fa-circle" aria-hidden="true" style="color:orange;    position: absolute;top: 3px;right: 121px;"></i>Welcome !! <%--AgencyName:--%> <%=AgencyName%> ( <%=AgencyId%>)<br />
                                <asp:Label ID="Label1" runat="server" Style="display: none;"></asp:Label>
                                                </div>
                                        <ul class="nav navbar-nav align-set">
                                           
                                             <li class="menuhide"><%--<div  class="pd" runat="server" id="divAgentBalance" style="font-size: 12.5px !important;color:#000 "> Balance: <span id="blc" style="font-size: 11.5px !important;"></span> Credit Limit:  <span id="CrdLimit" style="font-size: 11.5px !important;"></span> Due: <span id="DueAmt" style="font-size: 11.5px !important;"></span></div>--%></li>
                                                
                                         
                                            
                                        </ul>
                                 
                                        
                                         
                                    </div>
                                     </li>



          <li class="dropdown" style="display:none;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #e7ebef;border-left: 1px solid #e7ebef; padding:19px !important;"><i class="fa fa-user-circle"></i>   User Account<b class="caret"></b></a>
          <ul class="dropdown-menu" style="height: 1px;">

              <div class="tour_right tour_incl tour-ri-com" style="margin-left: -103px;">
                  <div  class="pd" runat="server" id="div1">
                    
                  <h3>AgencyName: <%=AgencyName%> ( <%=AgencyId%>)</h3>
                    <ul style="width: 259px;">
                        
                        <li>Available Balance: <span id="blc12"></span></li>
                        <li>Credit Limit:  <span id="CrdLimit12"></span></li><br />
                        <li>Due: <span id="DueAmt12"></span></li>
                        <li> 

                        </li>
                    </ul>
                  <h3><asp:Button ID="lnklogout" Text="Log Out" CssClass="btn btn-danger" runat="server" OnClick="lnklogout_Click1" CausesValidation="False"/>
</h3>
                  </div>    
                </div>



           </ul>
        </li>
      </ul>



                               
                                <li class="admi-menu" style="display:none;">
                                    <a href="#" class="mm-arr" style="color: #eee;"><span class="fa fa-user-circle fa-1x"></span>   User Account  <span class="caret">▼</span></a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                           <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="places-3.html">
                                                            <img src="images/sight/4.jpg" alt="">
                                                            <span>Seight Seeing - 4</span>
                                                        </a>
                                                    </div>
                                                    <p>Donec lacus libero, rutrum ac sollicitudin sed, mattis non eros. Vestibulum congue nec eros quis lacinia. Mauris non tincidunt lectus. Nulla mollis, orci vitae accumsan rhoncus.</p>
                                                    <a href="places-3.html" class="mm-r-m-btn">Read more</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                               
                           <%-- </ul>--%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
        <!--END HEADER SECTION-->


        <nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-transparent navbar-theme-border" id="main-nav">
        <div class="container">
            <div class="navbar-inner nav">




                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                
                         <i class="icofont-ui-user icofont-2x"></i>
                    </button>

                     <a id="show-sidebar" class="navbar-brand" href="#" style="z-index: 1011;display:none;">
            <i class="icofont-navigation-menu icofont-2x"></i>
        </a>

                    <a class="navbar-brand" href="Search.aspx">
                        <img src="Advance_CSS/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav" style="margin-top:-5px;">

                       

                    

                         <li class="user-menu__item">
        <a class="user-menu-link" href="#">
         Balance: ₹<span id="blc"></span>
        </a>
      </li>

                         <li class="user-menu__item">
        <a class="user-menu-link" href="#">
          Credit Limit:  ₹<span id="CrdLimit"></span>
        </a>
      </li>
      <li class="user-menu__item">
        <a class="user-menu-link" href="#">
          Due: ₹<span id="DueAmt"></span>
        </a>
      </li>
                <li>
                            <asp:LinkButton class="user-menu-link"  Text="Logout" Font-Italic="False" ID="LinkButton1" runat="server" onclick="lnklogout_Click1" causesvalidation="False"
                                                  style="color: red;font-weight:600;"></asp:LinkButton>
                        </li>


                   

                    </ul>

                      <ul class="nav navbar-nav">
                          </ul>
                    
                            <ul class="dropdown-menu" >

                                <div class="pd" runat="server" id="divAgentBalance">
                                <li>
                                    <a href="account.html"></a>
                                </li>
                                <li>
                                    <a href="account-notifications.html"></a>
                                </li>
                                <li>
                                    <a href="account-cards.html"></a>
                                </li>
                                    </div>
                           
                                <li>
                                    
                                </li>

                            </ul>
                    
                </div>
            </div>
        </div>
    </nav>

        <div class="w3-card-2 topnav notranslate" id="topnav" style="position: fixed; top: 39px; z-index: 999; width: 65%; right: 0;border-radius: 65px 0px 0px 0px;">
            <div style="overflow: auto;">
                <div class="w3-bar w3-left" style="width: 100%; overflow: hidden; height: 30px">
                    <a href="/Search.aspx" class="topnav-icons fa fa-home w3-left w3-bar-item w3-button" style="border-left: none;"></a>

                    <a class="w3-bar-item w3-button" href="/Report/TicketReport.aspx">My Booking</a>
                    <%--<a class="w3-bar-item w3-button" href="/Report/TicketReport.aspx">Dashboard</a>--%>
                    <a class="w3-bar-item w3-button" href="about-us.aspx">About</a>
                    <a class="w3-bar-item w3-button" href="contact-us.aspx">Contact</a>
                    
                    <a class="w3-bar-item w3-button" style="float: right;">Welcome : <%=AgencyName%> (<%=AgencyId%>)</a>
                </div>


            </div>
        </div>

        <div class="">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div style="clear: both;"></div>

        <div class="theme-footer" id="mainFooter" style="display: none;">
            <div class="container _ph-mob-0">
                <div class="row row-eq-height row-mob-full" data-gutter="60">
                    <div class="col-md-3">
                        <div class="theme-footer-section theme-footer-">
                            <a class="theme-footer-brand _mb-mob-30" href="#">
                                <img src="<%=ResolveUrl("Advance_CSS/Icons/logo(ft).png")%>" alt="Image Alternative text" title="Image Title" />
                            </a>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="theme-footer-section theme-footer-">
                                    <a href="#" class="theme-footer-section-title btn btn-default" style="border-radius: 25px;">Contact-Us</a>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-footer-section theme-footer-">
                                    <a href="#" class="theme-footer-section-title btn btn-default" style="border-radius: 25px;">About-Us</a>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-footer-section theme-footer-">
                                    <a href="#" class="theme-footer-section-title btn btn-default" style="border-radius: 25px;">Privacy Policy</a>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-footer-section theme-footer-">
                                    <a href="#" class="theme-footer-section-title btn btn-default" style="border-radius: 25px;">Terms & Conditions</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="theme-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="theme-copyright-text">
                            Copyright &copy; 2021
             
                        <a href="#">RiyaTrip</a>. All rights reserved.
           
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="theme-copyright-social">
                            <li>
                                <a class="fa fa-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-youtube-play" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-instagram" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none;">
            <div>
                <div class="footer3">
                    <div class="inner">
                        <div class="lft_img">
                            <img src="<%= ResolveUrl("~/images/certificationlogo.png")%>" class="img-responsive" alt="FlyWithUs Certification">
                        </div>

                    </div>
                </div>
                <div class="footer4">
                    <div class="inner">
                        <p class="footer4_bold">© Copyright 2021 , All Rights Reserved By:RiyaTrip</p>

                    </div>
                </div>
            </div>
            <div id="footer_wrapper">

                <div id="wrapper">
                    <div class="overlay"></div>
                    <!-- Sidebar -->
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand abcss" >
                     <a href="#" style=" color: #fff!important;background-color: #337ab7;" >
                      <asp:Label   runat="server" ID="lblUserNameID"><%=LoginId%></asp:Label></a>                   
                </li>
              
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                         
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/Ledger.aspx")%>">Ledger</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/LedgerSingleOrderID.aspx")%>">Ledger New</a></li>
                      <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/AgentPanel.aspx")%>">Upload Request</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Agent/UploadAmountDetails.aspx")%>">Upload Status</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/CashInFlow.aspx")%>">CashInFlow Report</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/UploadAmount.aspx")%>">Wallet Top-Up</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/Accounts/StaffTransaction.aspx")%>">Staff Transaction</a></li>
                       <%End If%>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/DomSaleRegister.aspx")%>">Dom. Sale Register</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/IntlSaleRegister.aspx")%>">Intl. Sale Register</a></li>
                           <li><a href="<%= ResolveUrl("~/SprReports/Accounts/CommissionReport.aspx")%>">Commission Report</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/HotelSalesRegister.aspx")%>">Hotel Sale Register</a></li>
                            <li><a href="<%= ResolveUrl("~/SprReports/Accounts/Bankdetails.aspx")%>">Bank Details</a></li>                  
                  </ul>
                 </li>
                 <%If Session("User_Type").ToString().Trim().ToUpper().Equals("DI") Then%>
                 <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="<%= ResolveUrl("~/SprReports/Accounts/AgentPanel.aspx")%>">Upload Request</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/Agent/UploadAmountDetails.aspx")%>">Upload Status</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/Accounts/CashInFlow.aspx")%>">CashInFlow Report</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/Accounts/UploadAmount.aspx")%>">Wallet Top-Up</a></li>                      
                       <li><a href="<%= ResolveUrl("~/SprReports/Distr/UploadRequest.aspx")%>">Agent Upload Request</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/Distr/InProcessUploadDetails.aspx")%>">InProcess Upload</a></li>
                      <%--<li><a href="<%= ResolveUrl("~/SprReports/Distr/RegisterAgent.aspx")%>">Add Agent</a></li>--%>                      
                      <li><a href="<%= ResolveUrl("~/SprReports/Admin/Agent_Details.aspx")%>">Agent Details</a></li> 
                      <li><a href="<%= ResolveUrl("~/SprReports/Distr/AddAgent.aspx")%>">Add Agent</a></li>
		      <li><a href="<%= ResolveUrl("~/SprReports/Agent/AgentTypeDetails.aspx")%>">Create GroupType</a></li>
                       <li><a href="<%= ResolveUrl("~/SprReports/Admin/CommissionMaster.aspx")%>">CommissionMaster</a></li> 
                      <li><a href="<%= ResolveUrl("~/SprReports/Agent/agent_markup.aspx")%>">Set Agent Markup</a></li> 
                       <li><a href="<%= ResolveUrl("~/SprReports/Agent/TypeDetailsRefresh.aspx")%>">Refresh New GroupType</a></li> 
                       <li><a href="<%= ResolveUrl("~/SprReports/Distr/DepositeOffice.aspx")%>">Deposite Office</a></li> 
                      <li><a href="<%= ResolveUrl("~/SprReports/Distr/AddBankDetails.aspx")%>">Add Bank Details</a></li>
                  </ul>                                      
                </li>
                <%End If%>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flight <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    
                    <li><a href="<%= ResolveUrl("~/SprReports/HoldPNR/HoldPNRReport.aspx")%>">Hold Pnr Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Refund/CancellationReport.aspx")%>">Refund Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Reissue/ReissueReport.aspx")%>">Reissue Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/RejectedTicket.aspx")%>">Rejected Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/TicketReport.aspx")%>">Ticket Report</a></li> 
                      <li><a href="<%= ResolveUrl("~/SprReports/TicketStatusReport.aspx")%>">Ticket Status Report</a></li> 
                     <li><a href="<%= ResolveUrl("~/SprReports/Agent/TravelCalender.aspx")%>">Travel Calendar</a></li> 
                       <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>                    
                      <li><a href="<%= ResolveUrl("~/SprReports/import/PnrImportRequest.aspx ")%>">PNR Import</a></li>
                       <li><a href="<%= ResolveUrl("~/SprReports/proxy/Proxy.aspx")%>">Offline Request</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/proxy/AgentProxyTicket.aspx")%>">Offline Status</a></li>
                      <%End If%>
                      <%--<li><a href="<%= ResolveUrl("~/SprReports/import/PnrImportStatus.aspx")%>">DOM PNR Import Status</a></li>
                      <li><a href="<%= ResolveUrl("~/SprReports/import/PnrImportStatusIntl.aspx")%>">INT PNR Import Status</a></li>--%>                
                  </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    
                    <li><a href="<%= ResolveUrl("~/SprReports/Hotel/HtlBookingRpt.aspx")%>">Hotel Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Hotel/HoldHotelBooking.aspx")%>">Hold Hotel Report</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Refund/HotelRefundReport.aspx")%>">Hotel Cancellation Report</a></li>                     
                  </ul>
                </li>
                

                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                    
                    <li><a href="<%= ResolveUrl("~/SprReports/Agent/Agent_markup.aspx")%>">Dom. Airline Markup</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Agent/AgentMarkupIntl.aspx")%>">Intl. Airline Markup</a></li>
                    <li><a href="<%= ResolveUrl("~/SprReports/Agent/AgentHtlMarkup.aspx")%>">Hotel Markup</a></li>
                     <li><a href="<%= ResolveUrl("~/BS/BusMarkup.aspx") %>">Bus Setting</a></li>
                      <%If LoginType.ToUpper().Equals("AGENT") Then%>
                    <li><a href="<%= ResolveUrl("~/SprReports/Agent/NewExecutive.aspx")%>">Add Staff</a></li>
                      <%End If%>
                  </ul>                                      
                </li>
                <%End If%>
               <%-- <li>
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel Setting<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="<%= ResolveUrl("~/SprReports/Agent/AgentHtlMarkup.aspx")%>">Hotel Markup</a></li>
                  </ul>
                   
                </li>--%>
                
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bus <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="<%= ResolveUrl("~/BS/BusReport.aspx")%>">BUS Ticket Report</a>
                        </li>
                       <li><a href="<%= ResolveUrl("~/BS/BUSRefundReport.aspx")%>">BUS Refund Report</a>
                        </li>
                   <li><a href="<%= ResolveUrl("~/BS/BUSRejectReport.aspx")%>">BUS Reject Report</a>
                        </li>
                    <li><a href="<%= ResolveUrl("~/BS/BUSHoldPnrReport.aspx")%>">BUS Hold PNR Report</a>
                        </li>                  
                  </ul>
                </li>
                                   
                     <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Or Session("User_Type").ToString().Trim().ToUpper().Equals("DI") Then%>
                                       <li> <a href="<%= ResolveUrl("~/SprReports/Agent/Agent_Profile.aspx")%>">Profile</a> </li>
                     <%End If%>

                
                <li>
                <%-- <asp:LinkButton ID="lnklogout" runat="server" Text="Log Out" Font-Italic="False"
                                                Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton> --%>
                </li>
                
            </ul>
        </nav>
                    <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->

                    <!-- /#page-content-wrapper -->

                </div>
            </div>
        </div>






    </form>

    <%-- <script type="text/javascript">
        $(".Dropdown").on("click", function () {
            $(this).toggleClass('is-expanded');
        });
    </script>--%>



    <script type="text/javascript">
        $(document).ready(function () {

            ////$("#aCLimit").click(function () {
            ////$("#DivLoadPBal").show();
            ////$("#ctl00_lblCamt").html("")
            $("#blc").hide();
            $("#blc").html("Not Available");
            $("#imgLoadLoginVals").show();
            try {
                $.ajax({
                    url: UrlBase + "FltSearch1.asmx/GetAgencyBal",
                    data: "",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        try {
                            var resBal = 0;
                            var dueAmt = 0;
                            var crdLimit = 0;
                            var cmbBal = data.d

                            if (cmbBal.split('~').length > 0) {
                                resBal = cmbBal.split('~')[0];
                                if (cmbBal.split('~').length > 1) {
                                    crdLimit = cmbBal.split('~')[1];
                                }
                                if (cmbBal.split('~').length > 2) {
                                    dueAmt = cmbBal.split('~')[2];
                                }
                            }
                            //var resBal = data.d;
                            //<span id="CrdLimit">2000/-</span> Due: <span id="DueAmt">1000/-</span>
                            if (resBal != null && resBal != "") {
                                $("#blc").html(" " + $.trim(resBal.split('.')[0]) + "");
                            }
                            if (crdLimit != null && crdLimit != "") {
                                $("#CrdLimit").html(" " + $.trim(crdLimit.split('.')[0]) + "");
                            }
                            if (dueAmt != null && dueAmt != "") {
                                $("#DueAmt").html(" " + $.trim(dueAmt.split('.')[0]) + "");
                            }
                            // $("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                            ////$("#DivLoadPBal").hide();                            
                        }
                        catch (err) {
                            alert(err);
                            ////$("#DivLoadPBal").hide();
                            //$("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                        }
                    },
                    error: function (e, t, n) {
                        alert(t);
                        ////$("#DivLoadPBal").hide();                                                
                        //$("#imgLoadLoginVals").hide();
                        $("#blc").show();
                        $("#CrdLimit").show();
                        $("#DueAmt").show();
                    }
                });
            }
            catch (err) {
                alert(err);
                ////$("#DivLoadPBal").hide();
                // $("#imgLoadLoginVals").hide();
                $("#blc").show();
                $("#CrdLimit").show();
                $("#DueAmt").show();
            }
            ////});
        });
    </script>
    <%--<script type="text/javascript">
        $(document).ready(function () {

            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
               isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
            $(".overlay").click(function (e) {

                $(".overlay").hide();
                $("#menus").hide();
            });
        });
    </script>--%>
    <%-- <script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>--%>
    <%--<script type="text/javascript">
        // 
        var u = window.location.pathname;
        var h = u.split('/');
        var s = "";
        for (var i = 0; i < h.length; i++) {
            if (h[i] == "SprReports") {
                s = h[i];
            }
        }
        if (s == "SprReports") {
            document.getElementById("menutbl").style.display = "block";
        }
        else { document.getElementById("menutbl").style.display = "none"; }

    </script>--%>

    <%--<script type="text/javascript">
        $(document).ready(function () {
            $("#setng").unbind().click(function () {
                if ($("#setng1").is(":visible")) {
                    $("#setng1").slideUp();
                }
                else {
                    $("#setng1").slideDown();
                }
            });
            $(document).click(function (event) {
                if ($.trim($(event.target).attr("class")) != "cplnew" && $.trim($(event.target).attr("id")) != "setng" && $.trim($(event.target).attr("id")) != "imgCtlPnl") {
                    $("#setng1").slideUp();
                }
            });
            ////$("#setng").click(function () {
            ////    $("#setng1").slideDown();
            ////});
            ////$("#setng1").mouseover(function () {
            ////    $("#setng1").slideDown();
            ////});
            ////$("#hdff").mouseover(function () {
            ////    $("#setng1").hide();
            ////});
        });

        function checkOnload() {

            var koko = querySt("Rail");

            if (koko == 'not') {
                alert('Please Contact your franchise / nodal office to continue with your irctc service ');
            }
        }
    </script>

    <script type="text/javascript" language="javascript">
        function showChildLinks() {
            var x = document.getElementById("divToShow");
            x.style.visibility = "visible";
            var y = document.getElementById("divToShow2");
            y.style.visibility = "visible";
        }
        function hideChildLinks() {
            var x = document.getElementById("divToShow");
            x.style.visibility = "hidden";
            var y = document.getElementById("divToShow2");
            y.style.visibility = "hidden";
        }

    </script>
    
    <script type="text/javascript">
        function sortSelectOptions(selector, skip_first) {

            try {
                var options = (skip_first) ? $(selector + ' option:not(:first)') : $(selector + ' option');
                var arr = options.map(function (_, o) { return { t: $(o).text(), v: o.value, s: $(o).prop('selected') }; }).get();
                arr.sort(function (o1, o2) {
                    var t1 = o1.t.toLowerCase(), t2 = o2.t.toLowerCase();
                    return t1 > t2 ? 1 : t1 < t2 ? -1 : 0;
                });
                options.each(function (i, o) {
                    o.value = arr[i].v;
                    $(o).text(arr[i].t);
                    if (arr[i].s) {
                        $(o).attr('selected', 'selected').prop('selected', true);
                    } else {
                        $(o).removeAttr('selected');
                        $(o).prop('selected', false);
                    }
                });
            }

            catch (esc) { }
        }
    </script>
    <script type="text/javascript">
        var arr = $('select').each(function () {
            //for (i = 0; i < $('select').length; i++) {
            sortSelectOptions('#' + this.id + '', true);
            //}
        });
    </script>--%>
</body>


<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>






<script type="text/javascript">
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });




    });
</script>


<%--    <script type="text/javascript" src="Advance_CSS/jquery.min.js"></script>--%>


<script type="text/javascript" src="Custom_Design/js/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="Custom_Design/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" src="Custom_Design/js/bootstrap.js"></script>
<script type="text/javascript" src="Custom_Design/js/wow.min.js"></script>
<%--<script type="text/javascript" src="Custom_Design/js/materialize.min.js"></script>--%>
<%--<script type="text/javascript" src="Custom_Design/js/custom.js"></script>--%>


<script type="text/javascript" src="Styles/jquery-ui-1.8.8.custom.css"></script>

<%--<script type="text/javascript">

    jQuery(function ($) {
        $(window).scroll(function fix_element() {
            $('.navbar-theme-abs').css(
                $(window).scrollTop() > 100
                    ? { 'position': 'fixed', 'top': '0px' }
                    : { 'position': 'absolute' }
            );

            //$('.user-menu-link').css(
            //    $(window).scrollTop() > 100
            //        ? { 'color': '#000'}
            //        : { 'color':'#000' }
            //);
            return fix_element;
        }());
    });
</script>--%>
</html>



